<h1>Home</h1>

<a asp-controller="Admin" asp-action="Index">Admin pannel</a>

<div>
    some text
    IsAuthenticated = :@ViewBag.IsAuthenticated
</div>


<div>
    another text
    Name = :@ViewBag.Name
</div>