<h1>Home</h1>
<a asp-controller="Admin" asp-action="Index">Admin</a>
<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<a asp-controller="Admin" asp-action="Manager">Manager</a>


<div>
    some text
    IsAuthenticated = :@ViewBag.IsAuthenticated
</div>


<div>
    another text
    Name = :@ViewBag.Name
</div>